<ul class="race-ext-race-list race-ext-modal__content-body">
  {{#each @races key="@index" as |race|}}
    <li>
    <a class="race-ext-race-list-link" onclick={{action select race}}>{{race.name}}</a></li>
  {{/each}}
</ul>

{{#if selectedRace}}
  <race-detail @race={{selectedRace}} />
{{/if}}
